.container {
  width: 1440px;
  height: 1024px;
  padding: 20px 24px;

  display: flex;
  justify-content: space-between;
  background-color: var(--background-main);
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  width: 1440px;
  height: 56px;
  background-color: var(--background-header);
}
.logo {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 80px;
  top: 18px;  
}
.search {
  flex: none;
  order: 1;
  flex-grow: 0;
}
.search .rectangle1 {
  box-sizing: border-box;
  position: absolute;
  width: 348px;
  height: 40px;
  left: 526px;
  top: 8px;
  background: var(--background-rectangle1);
  border: 1px solid var(--background-rectangle1-border);  
}
.search .rectangle2 {
  box-sizing: border-box;
  position: absolute;
  width: 57px;
  height: 40px;
  left: 873px;
  top: 8px;
  background: var(--background-rectangle2);
  border: 1px solid var(--background-rectangle2-border);
}
.search .lupa {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 887px;
  top: 16px;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 130px;
  height: 34px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
}
.right .creator {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.right .notificator {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.right .avatar {
  width: 34px;
  height: 34px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.video1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  margin-left: 75px;
  padding: 0px;
  width: 952px;
  height: 537px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width: 380px;
  height: 938px;
}
.video {
  margin-right: 16px;
  width: 160px;
  height: 90px;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.itens {
  display: flex;
  margin-bottom: 16px;
}
.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  color: var(--color-title);
}
.channel-name  {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-views-channelname);
}
.views {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
  color: var(--color-views-channelname);
}
.infos a {
  text-decoration: none;
  color: var(--color-dio);
}
.principal {
  margin-left: 75px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
}
.principal1 {
  margin-left: 75px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}
.principal3 {
  margin-left: 75px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}
.title1 {
  width: 900px;
  height: 23px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-title1);
}
.channelAvatar {
  width: 42px;
  height: 42px;
  margin-top: 16px;
  margin-right: 12px;
}
.inscritos {
  margin-right: 42px;
  margin-top: 19px;
}
.inscritos .dio {
  width: 106px;
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-dio);
}
.inscritos .number {
  width: 106px;
  height: 32px;
  
  display: flex;
  align-items: flex-start;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-inscritos-number);
}
.subscribe {
  margin-right: 42px;
  margin-top: 17px;
  display: flex;
}
.like {
  margin-right: 42px;
  margin-top: 20px;
  display: flex;
}
.deslike {
  margin-right: 42px;
  margin-top: 20px;
  display: flex;
}
.share {
  margin-right: 42px;
  margin-top: 20px;
  display: flex;
}
.download {
  margin-top: 20px;
  display: flex;
}
.views1 {
  width: 420px;
  height: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: var(--color-views1);
}
.description {
  width: 510px;
  height: 64px;
  margin-top: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--color-description);
}


